/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* div > div {
  float: left;
} */

/* div > div + div, div > div + div + div {
  clear: left;
} */

#cell1, #cell2, #cell3, #cell4, #cell5, #cell6, #cell7, #cell8, #cell9 {
  /* float: left;
  border: 2px solid black;
  height: 200px;
  width: 200px; */
  
  border: none;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  border: 2px solid black;
}

.row {
  display: flex;
}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
