/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

.firstRow .cell {
  width: 50px;
  height: 50px;
  background: gray;
  margin: 5px
}

.secondRow .cell {
  width: 50px;
  height: 50px;
  background: gray;
   margin: 5px
}

.thirdRow .cell {
  width: 50px;
  height: 50px;
  background: gray;
  margin: 5px
}

section {

  float: left;
}

/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
